@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 *{
   margin: 0;
   padding: 0;
   border: 0;
 }
 body {
      background-color: #252525;
   }
   header {
      padding: 32px;
      border-bottom: 1px solid #333;
      background-color: rgba(0,0,0,1);
   }
header {
   padding: 32px;
   border-bottom: 1px solid #333;
   background-color: rgba(0,0,0,1);
}
header div {
   text-align: center /*alinhamento do texto no meio do header*/
}
header div a {
   color: white; /*cor do texto*/
   font-size: 20px; /*tamanho da fonte*/
   line-height: 30px; /*espcamento da linha do texto*/
   margin: 0 16px; /*espacamento entres os textos */
   text-decoration: none; /*retirar decoracao do texto*/
   font-family: 'Roboto', sans-serif; /* a fonte escolhida pro menu*/
}
header div a:hover{ /*selecao do modo quando o mouse passar por cima "houver"*/
color: green; /*mudar para a cor verde*/
transition: color 700ms; /* e fazer uma transicao de cor que dura 700ms*/
}

#box {
   text-align: center; /*alinhamento no meio do body*/
   padding: 32px; /*distancia dos outros elementos*/
}

#box img {
   border-radius: 50%; /* adiciona uma borda redonda a imagem*/
   border: 5px solid #6e0342 ; /*adicona uma cor a borda da imagem*/
   margin-bottom: 32px; /* distancia da margem inferior dos outros elementos*/
}